.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.images,.images2,.images3,.images4 {
  animation-name: floating; 
  animation-duration: 6s; 
  animation-iteration-count: infinite; 
  animation-timing-function: ease-in-out; 
  
  
}


@keyframes floating {
  0% {transform: translate(0px,0px);}
  25% {transform: translate(0px,-15px);}
  75% {transform: translate(0px,15px);}
  100% {transform: translate(0px,0px);}
}   

